[2021-11-03 19:13] haircommander opened #3 "Choose RPC framework"
there are tons of RPC frameworks to choose from. we've flirted with the idea of grpc, ttrpc, [cap n proto](https://github.com/capnproto/capnproto-rust). we should probably just pick one. any other ideas?

[2021-11-04 08:02] saschagrunert commented on #3
I think tonic via unix domain sockets and golang GRPC is still broken due to https://github.com/hyperium/h2/pull/487, but we have to give it a try.

[2021-11-04 23:24] mrunalp commented on #3
One worry I have is about the binary size and the memory usage. I opened a PR https://github.com/containers/conmon-rs/pull/4 to set some flags during build time. I think if we stay under < 4MB RSS that may be okay if we run one conmon for a pod.

[2021-11-06 01:37] rphillips commented on #3
I took a look at the server and see it using 3.0 MB RSS in release mode. Removing Tonic decreases RSS to 1 MB (still using tokio). Perhaps it does make sense to find something lighter weight.

[2021-11-08 10:20] saschagrunert commented on #3
I was able to trim-down the RSS by testing cap'n proto: https://github.com/containers/conmon-rs/pull/8

[2021-11-08 16:31] saschagrunert commented on #3
I think we can close this one now and stick with tonic. I'll add a CI job to compare the used RSS of PRs.

[2021-11-08 16:31] #3 closed

[2021-11-10 21:59] rphillips opened #19 "Memory usage after first tonic request"
I was adding a RPC request to return RSS memory and noticed the RSS usage goes up in the server after the first GRPC request... significantly.

Terminal 1:
[code]

Terminal 2:
[code]

[2021-11-11 09:15] saschagrunert commented on #19
@rphillips that's the reason why we have the mismatch between CI and our local tests. We test that the binary is up and running by verifying that the client works. Great find!

[2021-11-11 14:55] rphillips commented on #19
I'm still seeing this issue with #20.

[2021-11-11 15:11] saschagrunert commented on #19
I'm not on my local machine but I can reproduce in https://github.com/containers/conmon-rs/pull/22

[2021-11-15 08:02] saschagrunert opened #30 "Run integration tests in VM environment"
Target is to run the integration tests in an environment which is closer to the actual deployment (OpenShift), to have more realistic performance test results.

Relevant:

- [OpenShift Prow can be configured to support nested virt (in GCE) on build02](https://github.com/coreos/fedora-coreos-tracker/blob/main/docs/ci-and-builds.md#openshift-prow)
- CentOS CI (an OCP cluster on bare metal) uses Jenk

[2021-11-17 22:10] rphillips commented on #19
In #27 we migrated to capnproto

[2021-11-17 22:10] #19 closed

[2021-11-19 16:34] rphillips opened #43 "gettext-sys compile times"
Is there a way to get rid of gettext-sys? We use it for setting the locale, but the compile times with it seem to be quite long.

[2021-11-19 16:39] haircommander commented on #43
maybe https://docs.rs/locale/0.2.2/locale/linux/ffi/index.html?

[2021-11-19 16:39] haircommander commented on #43
or we could probably call directly in libc https://rust-lang.github.io/hashbrown/libc/fn.setlocale.html

[2021-11-19 16:42] rphillips opened #45 "Container 'Create' Support"

[2021-11-19 16:43] rphillips opened #46 "Container Exec Support"

[2021-11-19 16:43] rphillips opened #47 "Container Attach Support"

[2021-11-19 16:43] rphillips opened #48 "Container Logging"
- [ ] reopen log

[2021-11-19 16:44] rphillips opened #49 "Conmon Exit Handling"

[2021-11-19 17:14] rphillips opened #51 "Add Seccomp handler"

[2021-11-19 17:15] rphillips opened #52 "Container Reaping (Exiting) Support"

[2021-11-19 17:17] #45 closed

[2021-11-19 17:17] #46 closed

[2021-11-19 17:17] #47 closed

[2021-11-19 17:17] #48 closed

[2021-11-19 17:17] #49 closed

[2021-11-19 17:17] #51 closed

[2021-11-19 17:17] #52 closed

[2021-11-19 17:59] saschagrunert commented on #43
Yeah I noticed this as well, especially with rust-analyzer it recompiles the whole gettext lib every time. Using the libc function should be fine, right?

[2021-11-19 18:32] rphillips commented on #43
Created a fix https://github.com/containers/conmon-rs/pull/53

[2021-11-19 21:45] #43 closed

[2021-12-02 22:49] utam0k opened #81 "Is there anything youki can help with?"
If you want youki to provide the cgroup crate and more, I'd love to work with you.

[2021-12-03 10:11] saschagrunert commented on #81
I don't have anything specific in mind right now but thank you so much for reaching out! For now we have to re-establish the functionality of the original conmon, but in the future we can totally consider using oci-spec-rs or functions which are already existing in youki.

[2021-12-03 13:05] utam0k commented on #81
@saschagrunert
I just wanted to let you know that I want to help, so I'll close this once.

[2021-12-03 13:05] #81 closed

[2021-12-07 11:51] #30 closed

[2022-04-01 14:59] saschagrunert opened #282 "Implement container execsync without a terminal"
Allow conmon-rs to process container stdout/err when just streaming from the streams. I consider merging the IOStreams implementation with the console and make it configurable.

[2022-04-04 12:54] saschagrunert opened #287 "Implement container attach"
To satisfy the CRI-O runtime method AttachContainer, a method should be created that requests an attach socket be created for a container or exec session.

[2022-04-04 15:46] #282 closed

[2022-04-04 16:57] saschagrunert opened #291 "Make stdout log driver with non terminal containers work"
The issue’s that we disconnect stdout and stderr with non terminal containers in streams.rs. This is causing the stdout logger not work any more since the log crate relies on stdio. We should investigate how to improve that.

[2022-04-05 12:19] saschagrunert opened #293 "Increase unit test coverage"
We should actively work on increasing the unit test coverage by using the mockall framework. This should be done in the same way like we did it for the server init:

https://github.com/containers/conmon-rs/blob/e6084dadb3ae367be22dff882051f7251bd28980/conmon-rs/server/src/init.rs#L11-L12

https://github.com/containers/conmon-rs/blob/e6084dadb3ae367be22dff882051f7251bd28980/conmon-rs/server/src/ini

[2022-04-05 18:21] haircommander opened #297 "Catch container OOM"
the current implementation of conmon listens to the container's `cgroup.events` file to check whether a container OOMed after it died. We should do a similar thing in conmonrs

[2022-04-05 20:59] haircommander opened #299 "use mio or other event based io for stream"
currently, there's a bug where running with multiple exec sync or containers causes conmonrs to leak threads. This is from the streams::read_loop_single_stream `reader.read` call. we're doing a normal blocking read, and waiting on I/O that will never come (nor be canceled).

We need to either not block on the IO, use an event based system, or be able to cancel the read when we know there are no mo

[2022-04-05 23:34] cgwalters commented on #299
Any reason not to use async/tokio for that?  An async read scheduled via Tokio should just be registering the fd to epoll, and dropping the future should unregister.

[2022-04-06 07:37] saschagrunert commented on #299
When would we know when to drop the future?

Same question would apply to this.

Maybe the `stop_tx` should be part of the spawned thread… :thinking:

https://github.com/containers/conmon-rs/blob/a05320d90b396fe6e121e18db5b8a0a72f05573b/conmon-rs/server/src/streams.rs#L100-L118

[2022-04-08 20:57] #299 closed

[2022-04-11 13:48] saschagrunert opened #318 "Replace `tokio::select!`"
There are some issues with tokio::select, referring to https://github.com/containers/conmon-rs/pull/317#discussion_r847341528

We should consider replacing it with other solutions.

[2022-04-19 13:57] saschagrunert commented on #318
We don't use that any more so this issue magically closes.

[2022-04-19 13:57] #318 closed

[2022-04-19 13:57] #291 closed

[2022-04-19 14:19] #287 closed

[2022-04-20 10:00] saschagrunert opened #342 "Test `CreateContainer should kill created children if being killed` flakes"
The test case flakes from time to time with the following error:
[code]

https://github.com/containers/conmon-rs/blob/0308b0623b2b8adae52a26153250ef65e846524b/pkg/client/client_test.go#L67-L79

[2022-04-20 13:48] saschagrunert opened #345 "Rework README.md"
We should give the README.md some love and reflect the current state of the project.

[2022-04-20 16:04] rphillips commented on #297
The [conmon OOM detection code](https://github.com/containers/conmon/blob/283294c3d7bac12cbc977c1e3217932edab139e5/src/cgroup.c#L30-L31) has support for cgroup v1 and cgroup v2.

[2022-04-29 15:44] rphillips opened #368 "Test container ooms within conmon-rs"
We are relying on OOM testing within crio. We need to add native OOM testing within this repo.

ref: https://github.com/containers/conmon-rs/pull/365

[2022-04-29 16:03] haircommander opened #369 "attach metadata to logger"
the rust logger allows us to attach metadata. it would be useful to track different messages based on container id, or pid if that's not possible, so we know which container did what

[2022-05-03 12:21] saschagrunert commented on #369
Are you thinking to use something like slog: https://docs.rs/slog/latest/slog/?

[2022-05-03 16:28] haircommander commented on #369
yeah that looks cool, though would that mean we need to store a logger per container to sneak in the container ID per request. I'm not sure what the overhead of that would be. I a;so may be interpreting the docs wrong

[2022-05-04 07:58] saschagrunert commented on #369
Hm looks like that https://docs.rs/tracing/latest/tracing is the new de-facto standard.

[2022-05-09 13:13] #345 closed

[2022-05-09 13:14] #369 closed

[2022-05-10 07:22] #297 closed

[2022-05-10 12:09] saschagrunert commented on #368
This is done :+1:

[2022-05-10 12:09] #368 closed

[2022-05-10 13:26] saschagrunert opened #408 "Enable prow for this repository"
We should consider to use the OpenShift prow instance for this repository to handle our whole development workflow.

[2022-05-10 14:16] haircommander commented on #408
one limitation of using gh actions with prow is prow isn't gh action aware so we'd have to do the /hold /lgtm dance. We don't run into it in cri-o because e2e tests take way longer than gh actions tests

[2022-05-10 14:57] saschagrunert commented on #408
Done

[2022-05-10 14:57] #408 closed

[2022-05-11 08:49] saschagrunert opened #410 "critest attach test fails"
The critest conformance test `runtime should support attach [Conformance]` fails by timing out:

https://github.com/kubernetes-sigs/cri-tools/blob/1a0b272405a694d7d82606c5a7eddd7905321c4b/pkg/validate/streaming.go#L109-L122

Right now the test got excluded by CRI-O: https://github.com/cri-o/cri-o/blob/db76322414a7888c7642b707e07dbb9905aa969f/.github/workflows/integration.yml#L57

We either have to

[2022-05-11 08:58] saschagrunert opened #411 "Logging to journald/systemd does not add scope"
When logging to stdout then we usually add a full tracing context to each RPC:

[code]

This information seems to be lost when using the systemd logger:

[code]

We should investigate if we're misugins the tracing API or if it's related to https://github.com/tokio-rs/tracing/issues/2051

[2022-05-12 07:10] saschagrunert commented on #411
Looks like the fields are available, for example when using `journalctl -o verbose`,  `-o json` or `--output-fields=...`

See: https://github.com/tokio-rs/tracing/discussions/2118#discussioncomment-2731736

[code]

[code]

[2022-05-12 07:10] #411 closed

[2022-05-23 07:37] kangclzjc opened #419 "Can't run conmon-rs with cargo run"
### What happened?

Hi, when I want to run this project with cargo run, it failed, even if I specific --bin like below:

[code]

It get this error :
error: no bin target named `/home/zk/go/src/github.com/containers/conmon-rs/target/debug/conmonrs`

### What did you expect to happen?

Run successfully

### How can we reproduce it (as minimally and precisely as possible)?

cd containers/conmon-rs
ca

[2022-05-23 07:39] saschagrunert commented on #419
@kangclzjc thank you for opening this request!

Does this work for you:

[code]

[2022-05-24 01:27] kangclzjc commented on #419
@saschagrunert yeah, thank you help help. I run command like thie:

[code]

It works now.

[2022-05-24 01:27] #419 closed

[2022-05-27 06:54] kangclzjc commented on #410
@saschagrunert Do we have steps to reproduce the test in local ? Because I see this should be triggerred in github action.

[2022-05-27 07:02] saschagrunert commented on #410
@kangclzjc yeah I was able to reproduce it with the CRI-O PoC. You can point the CRI-O configuration to use conmon-rs (`runtime_type = "pod"`) and then run critest locally by focusing on that single test.

[2022-05-27 08:41] kangclzjc commented on #410
do you mean configure like below ?
[code]

[2022-05-27 08:50] saschagrunert commented on #410
@kangclzjc yes, you can also specific the conmon path to point to a dedicated location 👍

[2022-05-31 03:18] kangclzjc commented on #410
@saschagrunert I can reproduce this issue in local. And I find the root cause now. This loop will continue get EAGAIN if no data is ready, so that this loop can't reture. But I am curious why it didn't enter the code block of n == 0. Could you give some suggestions here ?
[code]

[2022-05-31 07:09] saschagrunert commented on #410
@kangclzjc I think the intention was to stop reading when no data is available any more. Beware that this seems to be the logic from container_io.rs, where the attach piece should happen in attach.rs.

[2022-06-09 18:58] haircommander opened #456 "Add support for limiting ExecSync output"
to address CVE-2022-1708 we need a way to limit the amount of output conmon-rs processes in an ExecSync request

[2022-06-20 13:46] saschagrunert opened #481 "Add support for OpenTelemetry tracing"
We're already using the tracing crate, which has support for Open Telemetry (OTEL) as well: https://github.com/tokio-rs/tracing/tree/master/tracing-opentelemetry

Using the crate would probably incorporate adding those, too:
- https://docs.rs/opentelemetry
- https://docs.rs/opentelemetry-jaeger

Independently how we wanna use it from a configuration perspective, having OTEL support would increase

[2022-06-20 22:20] doehyunbaek commented on #481
This seems very interesting. If you don't mind I want to tackle this issue.

Quick [search](https://github.com/containers/conmon-rs/search?q=debug_span) into repo with keyword 'debug_span' revealed 6 files currently being traced. Is this issue about turning those tracing points into OTEL compatible tracepoints?

[2022-06-21 09:21] dbloms opened #482 "adding support to forward containers output to splunk via hec connector"
We do currently use docker on Debian 11 and let the containers log on stdout through the
Splunk logging driver (https://docs.docker.com/config/containers/logging/splunk/) via HEC (https://docs.splunk.com/Documentation/Splunk/latest/Data/UsetheHTTPEventCollector) into Splunk.

In term of docker-compose this gives us the possibility to configure Splunk-logging on a per deployment basis, which is ver

[2022-06-21 18:50] haircommander commented on #482
Thanks for opening the issue! the team is going to start by focusing on adding support in podman for conmon-rs, as that will be a required first-step. Once that's done, we can evaluate the work needed for this. In the meantime, anyone can chime in if they're interested in implementing this

[2022-06-22 08:41] doehyunbaek commented on #481
Thanks for reply. Really appreciate it.

Unfortunately, I think I would be occupied with day job / IRL minimum 2 weeks, I would like to tackle it after that. Would that be ok? If anyone tries to take this issue in the meantime I would not mind him taking the issue.

[2022-06-22 09:02] saschagrunert commented on #481
@doehyunbaek yep that's totally fine, no need to rush on this topic! :+1:

[2022-06-28 06:32] chillout2k commented on #482
We do also use the the splunk logging driver in our docker deployments and we would be very pleased if podman/conmon would support it too. From my point of view this logging driver is an important feature to make podman a real drop-in-replacement for docker in (splunk-specific) production environments.

Thanks in advance :)

[2022-07-04 16:45] Luap99 opened #504 "go.mod: do not depend on github.com/containers/podman"
Given that podman likely wants to import this go client lib as well (https://github.com/containers/podman/pull/14804) this lib should not depend on any podman code. While it can work the circular dependency is just asking for trouble when podman tries to make breaking changes to the code.

I propose that we move the required podman code to c/common and then podman and conmon-rs can use it without

[2022-07-05 13:13] haircommander commented on #504
c/common sounds like a good place! we could also move the code into here to make vendor dancing easier. we only use TerminalSize and kubeutils.HandleResizing

[2022-07-05 16:27] Luap99 commented on #504
`utils.CopyDetachable` is also used here but this is also no problem I will move the required code to c/common

[2022-07-13 15:15] #410 closed

[2022-07-20 14:09] #342 closed

[2022-07-20 14:37] saschagrunert opened #534 "Attach leaks a goroutine"
### What happened?

We print the active goroutines after each integration test. It looks like that the `util.CopyDetachable` still leaves a running goroutine open:

[code]

https://github.com/containers/conmon-rs/blob/13d4828464b72d0c734643c5ce405dbb60fbb6fe/pkg/client/attach.go#L198-L204

We should find a way to cleanup the goroutine on server shutdown as well.

### What did you expect to happen?

[2022-07-20 17:09] Luap99 commented on #534
Is `conn` closed?
Looks like it blocks on read() and I would expect read to return once the connection is closed.

[2022-07-20 17:13] Luap99 commented on #534
On a second look not conn must be closed but rather `cfg.Streams.Stdin` since we read from there.

[2022-07-21 06:04] saschagrunert commented on #534
@Luap99 yeah we also block on read in the tests, but I see that as not critical:

https://github.com/containers/conmon-rs/blob/cc1ea2314381a57b7fcc705121c772a90eed5e19/pkg/client/suite_test.go#L379-L396

Do you consider working on a fix for that?

[2022-07-21 13:31] Luap99 commented on #534
I assume `cfg.Streams.Stdin` is supposed to be closed by the caller, i.e. the test here?

Also the goroutines in the ginkgo tests need a `defer GinkgoRecover()` at the top in order to work properly, https://onsi.github.io/ginkgo/#mental-model-how-ginkgo-handles-failure

[2022-07-21 14:49] Luap99 commented on #534
I know next to nothing about the conmon-rs internal but the test is not working.

change the testAttach function to in order to actually make sure it is executed:
[code]

There seems to be at least two problems that I can see:
1. the terminal test cannot work with both stdour/err since a terminal only uses one stream.
It is failing with and just hangs.
[code]
2. The test without terminal read the

[2022-07-21 14:52] saschagrunert commented on #534
@Luap99 thank you for the investigations here. I think we can split-up the tests to test the terminal / non terminal cases in a more separated fashion.

[2022-07-26 15:15] #456 closed

[2022-08-01 16:19] saschagrunert commented on #481
@doehyunbaek do you still have interest in working on it? Just wanted to check-in if priorities have been changed.

[2022-08-01 17:01] rphillips opened #578 "RPM Packaging"
### What happened?

I received some tips for packaging conmon-rs RPMs from @cgwalters. Generally [bootupd](https://github.com/coreos/bootupd) looks like a good example. The bootupd github releases contain a source tar and a vendor tar. The [bootupd.spec](https://src.fedoraproject.org/rpms/rust-bootupd/blob/rawhide/f/rust-bootupd.spec) uses both tarballs to generate the resulting rpm.

Starting poi

[2022-08-02 06:53] saschagrunert commented on #578
Sounds good, would it make sense for us to generate the RPM for every commit?

[2022-08-02 10:36] doehyunbaek commented on #481
Hi. I quit my previous job in the meantime and am planning on switching to other fields which do not involve container technologies :(. I do not have interest in working on it. Sorry for late reply.

[2022-08-02 13:20] saschagrunert commented on #534
I think the tests are still broken, even with https://github.com/containers/conmon-rs/pull/579. I have to dig more into that.

[2022-08-02 15:56] rphillips commented on #578
The RPM generation can be done on https://src.fedoraproject.org/ or other build servers... I don't think we actually have to build the RPMs in this repo.

[2022-08-03 14:36] jakecorrenti commented on #481
I can give this a shot. I can pick at it here and there, but can really sit down and work on it next week when my internship ends (assuming I don't get it done before then).

[2022-08-04 15:22] rphillips commented on #578
Tagged releases now upload the vendor and source payloads.

[2022-08-04 19:49] rphillips commented on #578
@lsm5 also added a copr build https://github.com/containers/conmon-rs/pull/602

I added a spec on pagure here https://pagure.io/conmon-rs to use the Releases.

[2022-08-04 19:49] #578 closed

[2022-08-04 19:54] rphillips opened #603 "s390x Package RPM are Failing"
### What happened?

Minor issue on s390x packaging builds.

[code]

### What did you expect to happen?

I expect s390x packages to build correctly.

### How can we reproduce it (as minimally and precisely as possible)?

N/A

### Anything else we need to know?

_No response_

### conmon-rs version

None
<details>

[code]

</details>

### OS version

None
<details>

[code]

</details>

### Additiona

[2022-08-04 20:57] #603 closed

[2022-08-05 16:40] rphillips opened #609 "capnproto alpha 5 needs a manual bump"
### What happened?

https://github.com/containers/conmon-rs/pull/608 is failing due to a possible API change. We will need a manual bump of the package to fix it.

### What did you expect to happen?

capnproto alpha 5 to work.

### How can we reproduce it (as minimally and precisely as possible)?

N/A

### Anything else we need to know?

_No response_

### conmon-rs version

<details>

[code]

</d

[2022-08-05 18:19] #609 closed

[2022-08-11 18:39] jakecorrenti opened #620 "Attach detaches from container too early"
### What happened?

I am currently trying to integrate conmon-rs into Podman. I am trying to get the attach functionality working. When I run the command `sudo bin/podman run --log-driver=k8s-file --name=demo -d alpine top`, the container successfully starts and the logs display that there are bytes being read:
[code]
When I try and attach to the container doing `sudo bin/podman attach demo`, it a

[2022-08-15 20:05] jakecorrenti commented on #481
Hi, I just started working on this issue, and I wanted to try and run the tests to see if that would provide any data on the Jaeger dashboard. However, I keep getting this error when I try to do `make integration`, and I can't seem to nail down what could be going wrong here.
[code]

[code]

[2022-08-15 20:26] haircommander commented on #481
`make integration` runs the tests with `sudo`, what is `sudo echo $PATH`? I 'm guessing it's missing /usr/local/go/bin

[2022-08-15 20:30] jakecorrenti commented on #481
This appears to be fine as well
[code]

[2022-08-16 11:49] haircommander commented on #481
what about `sudo -E echo $PATH`?

[2022-08-16 13:59] jakecorrenti commented on #481
I figured it out, I needed to add `/usr/local/go/bin` to `/etc/sudoers`

[2022-08-22 06:57] saschagrunert commented on #620
Indeed, this looks like a bug on our end :thinking:

[2022-08-22 13:12] haircommander commented on #620
I started taking a look at this (we hit attach issues in cri-o too)

[2022-09-01 11:09] saschagrunert opened #675 "Centos and epel packages fail to build on COPR"
### Which jobs are failing?

The recent builds fail on each `main` commit: https://copr.fedorainfracloud.org/coprs/rhcontainerbot/podman-next/build/4788630/

### Which tests are failing?

Every copr build on `main`

### Since when has it been failing?

I don't think they ever worked.

### Reason for failure (if possible)

_No response_

### Anything else we need to know?

_No response_

cc @rphill

[2022-09-01 12:53] lsm5 commented on #675
I removed the dependency on external copr `lsm5/wasmtime` and added wasmtime into the podman-next copr itself.

Latest build at: https://copr.fedorainfracloud.org/coprs/rhcontainerbot/podman-next/build/4803413/

c9s and c8s are successful.

epel 9 uses cargo: `cargo-1.58.1-1.el9` and currently it's failing with:
[code]

Similar for epel-8: `cargo-1.58.1-1.module+el8.6.0+14021+586eff1a`
[code]

@sa

[2022-09-01 12:57] saschagrunert commented on #675
@lsm5 thank you! I assume that we need the epel builds for RHCOS later on, so I guess we have to fix the build on our end.

[2022-09-01 13:06] lsm5 commented on #675
@saschagrunert so c8s uses cargo v1.60 which is the least version (AFAICT) for a successful build, while epel8 and epel9 are currently 1.58. Possible options are:

1. Make conmon-rs work with cargo 1.58
2. Wait for epel buildroot to get cargo 1.60 (I gotta check ETA )
3. Do some gymnastics for epel repos to use cargo from stream repos.

I think 1 would be ideal if doable, but if not, I can check o

[2022-09-01 13:24] saschagrunert commented on #675
I played around with 1.58 and we could disable the tzdb feature, but this leads into a new issue:
[code]

[2022-09-01 13:25] lsm5 commented on #675
ack, let me check on the other options and get back. Thanks!

[2022-09-02 19:42] lsm5 commented on #675
I'm building cargo 1.59 at https://copr.fedorainfracloud.org/coprs/rhcontainerbot/podman-next/build/4805564/ after which I'll use it to bootstrap cargo 1.60 on that copr and then get conmon-rs built for epel repos. The rustc builds take a while, so this should complete sometime next week (hopefully).

[2022-09-05 07:05] saschagrunert commented on #675
Cool, looks like it succeeded! Thank you so much!

[2022-09-05 13:53] lsm5 commented on #675
rust 1.60 building
epel9: https://copr.fedorainfracloud.org/coprs/rhcontainerbot/podman-next/build/4809364/
epel8: https://copr.fedorainfracloud.org/coprs/rhcontainerbot/podman-next/build/4809442/

once these are in place, i can go ahead with conmon-rs rebuild. I'll also try to keep rust for epel on copr in-sync with the stream versions going forward.

[2022-09-05 19:09] lsm5 commented on #675
mostly successful build at https://copr.fedorainfracloud.org/coprs/rhcontainerbot/podman-next/build/4811256/

@saschagrunert @haircommander is conmon-rs known to not work on i386? I can disable i386 for it in that case. Just that i686 is still one of the default fedora arches, so we might wanna ExclusiveArch it for official packaging.

[2022-09-05 19:09] #675 closed

[2022-09-05 19:40] lsm5 commented on #675
btw, I also wanna make sure everyone's aware before consuming this repo (especially coreos people). The podman-next copr also has other packages which are built from their respective upstream main branches. So, if coreos doesn't want the latest podman, crun etc., those should be excluded from the get go in their yum configs.

[2022-09-06 07:59] saschagrunert commented on #675
No I don't think so but I'm working on a fix in https://github.com/containers/conmon-rs/pull/688

[2022-09-08 07:27] #620 closed

[2022-09-08 16:35] #534 closed

[2022-09-12 14:28] saschagrunert opened #706 "Unable to re-attach after a successful attach"
### What happened?

We cannot reattach to a container because the attach path already exists:

[code]

### What did you expect to happen?

We should be able to re-attach containers.

### How can we reproduce it (as minimally and precisely as possible)?

Run a workload via CRI-O and crictl and try to attach twice.

### Anything else we need to know?

_No response_

### conmon-rs version

<details>

[2022-09-12 14:31] rphillips commented on #706
Does removing the following lines fix it?

https://github.com/containers/conmon-rs/blob/main/conmon-rs/server/src/attach.rs#L122-L124

[2022-09-12 14:45] saschagrunert commented on #706
Already ongoing attach sessions would be overwritten in that case. Maybe we wanna move that handling completely to CRI-O?

[2022-09-12 14:52] haircommander commented on #706
yeah I see we have two options:
- have the client reconnect to the same attach socket
- have the server create multiple attach instances
I think it should happen opaquely to the caller of the client to encapsulate as much logic in the client as possible

[2022-09-12 15:00] saschagrunert commented on #706
How about:
- we reuse the attach socket for new connections
- automatically remove the socket if no more connections exist

[2022-09-12 15:30] haircommander commented on #706
that sounds great!

[2022-09-14 14:02] saschagrunert opened #716 "Fedora 35 i686 build fails in copr"
### What happened?

The builds fails since a couple of commits with the error message:

https://download.copr.fedorainfracloud.org/results/rhcontainerbot/podman-next/fedora-35-i386/04836395-conmon-rs/root.log.gz
[code]

### What did you expect to happen?

The build should work like the other ones.

### How can we reproduce it (as minimally and precisely as possible)?

Mostly on every recent commit

[2022-09-14 14:02] saschagrunert commented on #716
@lsm5 do you have any insights here? Do we have to bump the golang version?

[2022-09-14 14:07] lsm5 commented on #716
I'm hoping we don't have to care about i386 on f35. I disabled it few mins ago, but if you think we need it, I can look further into it.

[2022-09-14 14:08] lsm5 commented on #716
fwiw, many other packages also failed builds for f35 on i386, which is why I disabled them without actually looking into the failures.

[2022-09-14 14:11] lsm5 commented on #716
ah whoops, looks like it was the same dep causing issues. I added golang 1.18 separately in the buildroot and missed that for i386. Let me fix that. Since it's a trivial enough fix, I don't mind adding it.

[2022-09-14 14:14] lsm5 commented on #716
ugh the copr env is called `i386` but the rpms have `i686` in them. Fixed now and rebuilding ..

[2022-09-14 14:54] saschagrunert commented on #716
All green now, thank you again for the fast help!

[2022-09-14 14:54] #716 closed

[2022-09-15 14:21] #706 closed

[2022-09-16 09:21] saschagrunert opened #720 "Kubernetes e2e test `Kubectl Port forwarding With a server listening on localhost that expects a client request should support a client that connects, sends DATA, and disconnects` fails"
### What happened?

The test fails in https://github.com/cri-o/cri-o/pull/6220 together with other cases, but I assume that the root cause is the same.

Interestingly, on my local machine the cancellation of the execsync token seems to kill the main container PID.

### What did you expect to happen?

That the test succeeds.

### How can we reproduce it (as minimally and precisely as possible)?

##

[2022-09-19 13:34] saschagrunert commented on #720
Ultra strange that it works when removing the readiness probe. It seems that the `portforwardtester` executable gets exited with code 2, whereas I'm wondering what is causing that.

[2022-09-20 17:20] saschagrunert opened #736 "`[sig-cli] Kubectl client Simple pod should support inline execution and attach` fails"
### Which jobs are failing?

CRI-O conmonrs e2e feature tests.

### Which tests are failing?

Mentioned in the title, ran via: https://prow.ci.openshift.org/view/gs/origin-ci-test/pr-logs/pull/cri-o_cri-o/6220/pull-ci-cri-o-cri-o-main-ci-e2e-conmonrs/1572188830188965888

### Since when has it been failing?

Since ever, reproducible with 8e4cec9644f742be8334ea8ecfc9f895b1d6691e

### Reason for fail

[2022-09-20 17:22] saschagrunert opened #737 "`[sig-apps] CronJob should not emit unexpected warnings` fails"
### Which jobs are failing?

CRI-O conmonrs e2e feature tests.

### Which tests are failing?

Mentioned in the title, ran via: https://prow.ci.openshift.org/view/gs/origin-ci-test/pr-logs/pull/cri-o_cri-o/6220/pull-ci-cri-o-cri-o-main-ci-e2e-conmonrs/1572188830188965888

### Since when has it been failing?

Since ever, reproducible with 8e4cec9644f742be8334ea8ecfc9f895b1d6691e

### Reason for fail

[2022-09-20 17:27] saschagrunert opened #738 "Container logs related tests fail"
### Which jobs are failing?

CRI-O GitHub actions e2e tests: https://github.com/cri-o/cri-o/actions/runs/3089802460/jobs/4998634317

### Which tests are failing?

A bunch of tests asserting container logs:

[code]

### Since when has it been failing?

I’m unsure, they passed a while before we merged the attach fixes.

### Reason for failure (if possible)

I assume that we have not written all logs

[2022-09-21 08:21] saschagrunert opened #740 "Allow CRI-O logging to stdout"
We right now use the default logger in CRI-O, which logs to systemd. It would be good to have at least a runtime monitor configuration to also log to stdout. This allows us to collect conmon and CRI-O logs in parallel.

Q: Do we wanna make stdout logging the default? Which benefits do we gain when logging to systemd?

[2022-09-21 15:01] #738 closed

[2022-09-21 15:15] haircommander commented on #740
can we stay attached to stdout if we've daemonized? conmon-rs is a child of systemd, not cri-o, and we may lose the logs (we definitely would if cri-o restarts, but may unconditionally)

[2022-09-21 19:16] saschagrunert commented on #740
Hm, setting the log driver to stdout works when CRI-O runs in foreground in my terminal, then both logs appear side by side. A CRI-O restart would probably loose that connection, but we could establish an IO reconnect on restore (or similar).  🤔

[2022-09-22 08:47] saschagrunert commented on #736
https://github.com/containers/conmon-rs/pull/746 partly adresses this one.

The `--leave-stdin-open=true` tests are still failing, but those have to be fixed in another PR:

https://github.com/kubernetes/kubernetes/blob/7f129f1c9af62cc3cd4f6b754dacdf5932f39d5c/test/e2e/kubectl/kubectl.go#L614-L648

[2022-09-22 09:21] saschagrunert commented on #737
The reason for this test to fail is that pods like this do not exit and keep running:

[code]

In conmon they immediately complete, in conmon-rs they still keep running forever.

[2022-09-22 13:21] #737 closed

[2022-09-22 15:19] saschagrunert commented on #736
Latest run: https://prow.ci.openshift.org/view/gs/origin-ci-test/pr-logs/pull/cri-o_cri-o/6220/pull-ci-cri-o-cri-o-main-ci-e2e-conmonrs/1572942729908850688

[2022-09-23 12:55] #736 closed

[2022-10-04 10:35] saschagrunert commented on #740
I think we can use multiple logging drivers in parallel and add a file-based logger later on. This can be used by CRI-O to stream the logs.

[2022-10-04 13:22] haircommander commented on #740
what do you think about enabling verbose logs in the journal? I am open to a file based log driver, but it feels more idiomatic (and closer to conmon's behavior) to have it logged to journal

[2022-10-04 13:41] saschagrunert commented on #740
I'm wondering how this should work, for example `sudo journalctl _COMM=conmonrs -o verbose` outputs the following format:

[code]

We can modify the fields, for example via `sudo journalctl _COMM=conmonrs --output-fields MESSAGE,TARGET -o verbose`

[code]

The format is kinda hard to read / trace.

[2022-10-04 13:46] haircommander commented on #740
currently we print a line of a bunch of stuff to stdout, is there anything preventing us from formatting the output to journal the same way?

[2022-10-04 13:50] saschagrunert commented on #740
Hm, we could fork the tracing journald lib to see if we can bypass the field conversion: https://github.com/tokio-rs/tracing/blob/master/tracing-journald/src/lib.rs

[2022-10-04 14:00] saschagrunert commented on #740
Or we implement our own writer and write to journald, I think I can give this a try.

[2022-10-04 15:37] #740 closed

[2022-10-10 16:23] #481 closed

[2022-10-12 09:23] saschagrunert opened #796 "Propagate Open Telemetry context from CRI-O to conmon-rs"
We can use the Open Telemetry context propagation to link spans between CRI-O and conmon-rs. This would mean that we have to use the global Text Map Propagator on the client side as well as on the conmon-rs server side to inject/extract the spans.

Since capnproto does neither natively support serializing hash maps nor carrying headers, we have to change each RPC to additionally contain the metada

[2022-10-13 15:30] #796 closed

[2022-10-17 08:32] saschagrunert opened #808 "EPEL 8 package builds are failling"
A bunch of CentOS and epel 8 package builds are recently failing:
https://copr.fedorainfracloud.org/coprs/rhcontainerbot/podman-next/build/4944707/

The main error message seems to be:

[code]

@lsm5 we can switch back to rust 1.58 if you don't mind. We already changed the repo to support that.

[2022-10-17 12:02] lsm5 commented on #808
fixed: https://copr.fedorainfracloud.org/coprs/rhcontainerbot/podman-next/build/4948394/

[2022-10-17 12:02] #808 closed

[2022-10-17 13:11] saschagrunert commented on #808
Thank you so much @lsm5! :pray:

[2022-11-04 11:56] utam0k opened #869 "Idea: Would it be possible to create the cgroup in advance?"
This is just an idea. I'd like to discuss this with the conmon-rs team.

Maybe you know creating a cgroup takes a cost, actually, it is one of the most time-consuming tasks. in the container runtime following OCI runtime spec.
Youki previously considered creating the cgroup asynchronously with io_uring, but this did not yield very good results.
However, if it is a daemon like a server, there shoul

[2022-11-04 12:07] saschagrunert commented on #869
Hey @utam0k, thank you for reaching out!

I'm wondering if cgroup creation should be really a concern of conmon-rs, on the other hand we're also thinking about moving parts of the namespace handling into it. How would the interface between (let's say) youki and conmon-rs look like?

Wouldn't it be possible to use `clone3` directly within the runtime in the same way as crun does it?
https://github.

[2022-11-04 12:19] utam0k commented on #869
Thanks for your reaction :pray:

I'm still too new to this project to know that, so please close if this is out of this project's interest.

Of course, we can implement it. Sorry if my understanding is different. That assumes that the cgroup subgroup to which the container process has to belong to is created from the caller of OCI Runtime beforehand, right?

https://github.com/containers/crun/pull

[2022-11-04 13:52] haircommander opened #871 "Experiment moving pinns functionality into conmonrs"
[pinns](https://github.com/cri-o/cri-o/tree/main/pinns) is a utility called by cri-o to create pod-level namespaces. It would be cool if conmon-rs could create those namespaces for the pod. Most notably, if it could manage a `pause` process to hold open the pod's PID namespace, then CRI-O could get rid of the infra container

[2022-11-04 13:53] haircommander commented on #871
@utam0k I know you were looking for some work in conmon-rs and this seems like something that could be up your alley. do you have any interest in investigating?

[2022-11-04 13:54] haircommander commented on #869
what went wrong with this?

this is true, though the motivation is slightly different. conmon-rs will be taking the responsibility of creating pod-level namespaces. however, in kubernetes world, cri-o is not responsible for creating the pod level cgroup (the kubelet is)

[2022-11-06 05:58] utam0k commented on #871
Thanks for your kind mention :pray: I'd love to, but I already have some of my hobby tasks, such as KubeDay Japan and runc's issue... So I feel I can't find the time to do that this year. If this issue doesn't need to achieve this year, I'd love to do it next year!

[2022-11-06 07:43] utam0k commented on #869
@haircommander
Here is the detail. In summary, at that time there was no way to create the directory with io_uring  :sob:
 https://github.com/containers/youki/pull/327

Oh, really? I didn't know about it. Thanks for telling me about it. In other words, when an oci container runtime is used by kubelet, it doesn't need to create a cgroup dir by itself, right?

[2022-11-07 08:38] saschagrunert opened #872 "Create a logo"
We need a logo for conmon-rs to be easily identifiable compared to [conmon](https://github.com/containers/conmon).

[2022-11-07 14:24] haircommander commented on #869
sort of. Kubelet uses libcontainer to create the pod level cgroup. the oci runtime doesn't as much care about pod cgroups, as it only focuses on the container cgroup. if the pod cgroup is not created, it is created by the oci runtime. otherwise it's treated as any other cgroup (like putting the container in system.slice)

[2022-11-07 17:39] haircommander commented on #872
maybe we can get a slice of @mairin 's time :crossed_fingers:

[2022-11-07 17:41] haircommander commented on #871
yeah no rush, we can sync in the future :)

[2022-11-07 17:46] mairin commented on #872
Happy to help! Do you need one for conman and conman-rs both? Are there any existing assets? Would you like it to match the other containers org logos? (eg podman, cri-o, skopeo, buildah etc?)

[2022-11-07 18:04] jwhonce commented on #872
Maybe a badge on a hat? Both skopeo and buildah include hats. Just a thought.

[2022-11-08 08:18] saschagrunert commented on #872
Beside all other valid comments: We could also highlight the Rust bits by using a cute crab.

[2022-11-08 15:04] giuseppe commented on #869
I don't think that is really possible when using the systemd cgroup manager.  systemd itself will take care to create the cgroup and for doing that, systemd first needs to know the PID to move to the new cgroup so that it is not possible to create an empty cgroup

[2022-11-08 19:34] haircommander commented on #872
for some reason I've always imagined conmon's logo being something like the all-seeing-eye haha

[2022-11-08 20:08] mairin commented on #872
A crab with an all-seeing eye? :-)

[2022-11-08 20:24] haircommander commented on #872
haha yeah sounds fun